*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
width: 100%;
background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100% );

}

.contenedor{
width: 100%;
max-width: 1200px;
height: auto;
padding: 30px 0;
margin: 25px auto;
overflow: hidden;

}

.cabecera{	
width: 100%;
min-height: 100vh;

}

.n_logo{
	font-size: 2.2rem;
	height: 8vh;
	color: white;
	line-height:9vh ;
	font-family: 'Croissant One', cursive;
	text-shadow: 4px 1px 0px #38D41D,
    8px 2px 0px #D2D426,
    12px 4px 0px #38D41D,
    24px 0px 6px #6B6B6B;

}
.ttab{
	color: white;
	font-family: 'Croissant One', cursive;
	margin: 2px;
	font-size: 32px
}
.pinfor{
color: white ;
font-size: 13px;
text-align: justify;
}

.mapa{
	position: relative;
	left: 50px;
	button: 5px;
	display: flex;
}

.map{
position: relative;
}

.tt_activo{
	color: E56347;
}

.texto{
	text-align: justify;
	margin: ;
}
.nave_c{
	color: #fff;
	border-bottom: 1px solid rgb(255, 255, 255, 0.1);
height: 70px;
margin: 1px ;
}

.nave__c{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	padding: 0;
	width: 100%;
	position: fixed;
	margin: 0 75px;

}

.menu{
	font-size: 15px;
	display: flex;
	list-style: none;
	overflow: hidden;
	letter-spacing: 1px;
}
.link{
	list-style: none;
	text-decoration: none;
	color: white;
	padding: 0 9px;

}
.activo{
	text-decoration: none;
	color: #B2D0D4;
}

.logo{
	height: calc(106vh - 70px);
	object-fit: cover;
	}

.h_m{
	margin:;
	height: calc(100vh - 70px);
	display: flex;
	align-items: center;
	padding: 0;
	background-image:url;
	}

.tt--activo{
	color: tomato;
}
	/*========================
	=estilos de la seccion del contendo=
	========================*/
	
.subtitulo{
	color: white;
	letter-spacing: 1px;
	font-family: 'Croissant One', cursive;
	text-align: center;
	background: #D53E1E;
}